doctype
html
    head
        title="Social media"
        link(rel='stylesheet', type='text\css', href='css/screen.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
        script(src="js/jquery.js")
    body
        .wrapper
            .feeds.clearfix
                .col.col-wide
                    .feed
                        .feed-body#instagram-entries
                .col
                    .feed
                        .feed-body#twitter-entries
                          .feed-item.feed-item-stamped.feed-item-1-of-3.instagram-card.feed-item-appended

        script(src="/socket.io/socket.io.js")
        script(src="js/jquery.easy-ticker.min.js")
        script(src="js/jquery-easing.js")
        script(src="js/admin.js")
