doctype
html
    head
        title "Administration Login"
    body
        #wrapper
            form(method="POST", action="/admin/login")
                input(type='text', name="username", value="username")
                input(type='password', name="password", value="password")
                input(type='submit', value="Login")