/* === Reset === */
* { margin: 0; padding: 0; outline: 0; }

img { vertical-align: middle; border: 0 none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; }
sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }
sub { top: 0.4em; }
textarea { overflow: auto; }


/* === Common Styles === */
body, html { height: 100%; }
body { font-size: 18px; line-height: 1.25; font-family: 'Helvetica Neue', Arial, sans-serif;; color: #000; background: #e8e8e8; min-width: 100%; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0,0,0,0); }

a { color: #002d56; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

p, ul, ol { padding-bottom: 1.3em; }
ul, ol { list-style-position: inside; }

input, textarea, select { font-size: 12px; font-family: 'Arial', sans-serif; }
fieldset { border: 0 none; }


/* === Helper Classes === */
.notext { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }

.clearfix:after { content: ''; display: table; clear: both; }


.field { border: 1px solid #000; background: transparent; display: block; }





.wrapper { height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.feeds { height: 100%; }

.feeds .col { float: left; height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.feeds .col + .col { padding-left: 0; } 
.feeds .col-1-of-3 { width: 40%; }
.feeds .col-2-of-3 { width: 60%; }

.feed { height: 100%; border: 2px solid #398bce;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.feed-body { height: 100%; padding: .75%; overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.feed-item { float: left; padding: 1%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.feed-item-1-of-3 { width: 33.3%; }



/* === Instagram Specifix === */
.instagram-picture { width: 90%; height: auto; }
.instagram-user { font-weight: bold; text-align: right; color: #292f33; }


/* === Twitter Specific === */
.twitter-item-image { float: left; width: 30%; padding-right: 10px; }
.twitter-item-image img { width: 100%; height: auto; }

.twitter-item-body { overflow: hidden; }
.twitter-item-body-head { line-height: 1; padding-bottom: 2px; }
.twitter-item-body-content { color: rgb(41, 47, 51); }
.twitter-item-body-content p { padding: 0; }

.twitter-name { color: rgb(41, 47, 51); font-weight: bold; }
.twitter-screen-name { color: rgb(136, 153, 166); }