/* === Reset === */
* { margin: 0; padding: 0; outline: 0; }

img { vertical-align: middle; border: 0 none; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; }
sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }
sub { top: 0.4em; }
textarea { overflow: auto; }


/* === Common Styles === */
body, html { height: 100%; }
body { font-size: 14px; line-height: 1.25; font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;; color: #000; background: #e8e8e8; min-width: 100%; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0,0,0,0); 
background: url('http://display.socialconnect.mx/uploads/bgimage/5a1081365e15aa0a44677153cc34f6bc.png') no-repeat center center fixed ;}

a { color: #002d56; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

p, ul, ol { padding-bottom: 1.3em; }
ul, ol { list-style-position: inside; }

input, textarea, select { font-size: 12px; font-family: 'Arial', sans-serif; }
fieldset { border: 0 none; }


/* === Helper Classes === */
.notext { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }

.clearfix:after { content: ''; display: table; clear: both; }


.field { border: 1px solid #000; background: transparent; display: block; }





.wrapper { height: 100%; padding: 1% 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.feeds { height: 100%; }

.feeds .col { height: 100%; padding: 0 1%; overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.feeds .col + .col { padding-left: 0; position: relative; }
.feeds .col + .col:after { content: ''; position: absolute; top: 0; bottom: 0; left: 0; border-left: 2px solid #398bce; }
.feeds .col-wide { float: left; }

.feed { height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.feed-body { height: 100%; padding: .75%; overflow: hidden; position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.feed-item { float: left; padding: 1%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.feed-item-1-of-3 { width: 33.3%; }



/* === Instagram Specifix === */
.instagram-card { position: absolute; padding: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 500ms;
         -o-transition: 500ms;
            transition: 500ms;
}
.instagram-picture { width: 100%; height: auto; }
.instagram-user { position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; background: rgba(0,0,0,.5); font-weight: bold; text-align: right; color: #fff; }


/* === Twitter Specific === */
.twitter-item { margin-top: -100%; margin-bottom: 1%;
    -webkit-transition: 500ms;
         -o-transition: 500ms;
            transition: 500ms;
}
.twitter-item-inner { max-height: 0; overflow: hidden;
    -webkit-transition: 500ms;
         -o-transition: 500ms;
            transition: 500ms;
}
.twitter-item-image { float: left; width: 48px; padding-right: 10px; }
.twitter-item-image img { width: 100%; height: auto; }

.twitter-item-body { overflow: hidden; }
.twitter-item-body-head { line-height: 1.2; padding-bottom: 2px; }
.twitter-item-body-content { color: rgb(41, 47, 51); }
.twitter-item-body-content p { padding: 0; }

.twitter-name { color: rgb(41, 47, 51); font-weight: bold; }
.twitter-screen-name { color: rgb(136, 153, 166); }

.feed-item-appended { margin-top: 0; }
.feed-item-appended.instagram-card {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.feed-item-appended .twitter-item-inner { max-height: 150px; }

#twitter-entries { margin-top: -2%; margin-bottom: -2%; height: 110%; }