html, body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #e8e8e8;
}
#wrapper{
  position: absolute;
  margin:0 auto;
  width: 100%;
  height: 100%;
}
#myWrap{
  margin:0 auto;
  top: 20%;
}
#twitterWrapper{
  top: 20%;
  float: right;
  right: 50px;
 @include border-radius(3px);
  border: 2px solid #398bce;
  width: 600px;
  height: 840px;
  overflow: hidden;
}


.twitter-name{
  color: rgb(41, 47, 51);
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.twitter-screen-name{
  color: rgb(136, 153, 166);
  font-size: 13px;
  line-height: 18px;
}
.twitter-text{
  color: rgb(41, 47, 51);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: auto;
  font-size: 14px;
}
.twitter-content{
  width: 506px;
  height: 77px;
  margin-left: 58px;
}
.twitter-main-wrap{
  width: 564px;
  height: 77px;
  padding: 9px, 12px, 9px, 12px;
}
.twitter-image{
  float: left;
  width: 48px;
  height: 48px;
  margin-left: -58px;
  margin-top: 3px;
}
.twitter-info{
  width: 506px;
  height: 18px
}
#instagramWrapper{
  top: 20%;
  left:60px;
  float: left;
  @include border-radius(3px);
  border: 2px solid #398bce;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
}
.instagram-card{
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  width: 310px;
  height: 330px;
}
.instagram-picture{
  width: 310px;
  height: 310px;
}
.instagram-user{
  float: right;
  color: #292f33;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.instagramInnerWrap{
  width: 100%;
  height: 330px;
}
.deleteTweeterButton{
  width: 100%;
  height: 25px;
}

